/*
  Resets
*/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  line-height: 1;
  font-family: sans-serif;
  transition: background-color ease-in .5s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

input,
select,
option,
optgroup,
textarea,
button,
pre,
code {
  font-size: 100%;
  font-family: inherit;
}

ol,
ul {
  list-style: none;
}

/* Added button styling so it's less awkward */
#toggleMode {
  margin-left: 15px; 
  font-size: 1rem; 
  padding: 0.5rem 1rem; 
}

/*
  Universal Styles
*/
:root {
  --light: #fff;
  --light-accent: #f9f9fb;
  --dark: #000;
  --dark-accent: #222;
  --dark-accent-action: #111;
  --action: #563d7c;
  --action-accent: #8570a5;
  --disabled: #aaa;
  --error: #ff0022;
  --circle-color: #ffb100;
}

* {
  transition: background-color ease-in .5s, color ease-in .5s;
}

/*
  Tag Styles
*/
header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  color: var(--dark-accent);
  padding: 2rem;
}

footer {
  padding: 2rem;
}

main {
  height: calc(100vh - 6rem);
  display: flex;
  justify-content: center;
  align-items: stretch;
  border-top: double 1rem;
}

/*
  Light/Dark Mode Styles
*/
.dark-mode {
  background-color: var(--dark-accent);
  color: var(--light);
}

.dark-mode header,
.dark-mode footer {
  background-color: var(--dark-accent);
  color: var(--light);
}

.dark-mode main {
  background-color: var(--dark-accent);
  color: var(--light);
}

.dark-mode a {
  color: var(--light) !important; /* Ensure link color in dark mode */
}

.light-mode {
  background-color: var(--light);
  color: var(--dark);
}

.light-mode header,
.light-mode footer {
  background-color: var(--light);
  color: var(--dark);
}

.light-mode main {
  background-color: var(--light-accent);
  color: var(--dark);
}

.light-mode a {
  color: var(--dark) !important; /* Ensure link color in light mode */
}

/*
  IDs
*/
#toggle {
  font-size: 1.52em;
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  text-shadow: 0px 0px .5rem var(--light-accent);
}

#error {
  color: var(--error);
  opacity: .75;
  position: absolute;
  bottom: -2rem;
}
